<section id="post">
   <div class="col-md-8">
      <div class="phead">
         <h2>Sample Blog</h2>
         <p>June 04, 2015</p>
      </div>
      <div class="pbody">
         <p class="text-justify">
         Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
         Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
   </div>
</section>